:root {
    --main: #004282;
    --white: #ebebeb;
    transition: all 0.82s ease;
    
}
:root.dark-theme {
    --main: #ebebeb;
    --white: #004282;
}
#themeswitcher{
    position: relative;
    top: 2px;
}
body{
    margin: 0;
    width: 100%;
}
     
html{
    font-family: monospace;
    color:  var(--main);
    background-color: var(--white);
}

a{
    color: var(--main) ;
    text-decoration: none;
}
img{
    width: 100%;
}
header{
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    backdrop-filter: blur(1px);
    position: sticky;
    top: 0;
}
main{
    padding: 1em;
    margin: auto;
}
#content{max-width: 600px;}
.miniature img{
    max-width: 100px;
}
footer{
    font-size: xx-small;
    bottom: 0;
    position: fixed;
    width: 100vw;
    justify-items: center;
    backdrop-filter: blur(1px);
    padding: 1em;
}
/* @media (prefers-color-scheme: dark) {
    :root {
        color:  var(--white);
        background-color: var(--main);
    }
    a{
        color:var(--white)
    }
  }    */

  .post-preview{
    border: var(--main) 0.2em solid;
    border-radius: 2em;
    margin: 1em;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    justify-content: space-between;
  }