:root {
    --main: #004282;
    --white: #ebebeb;
    
}
body{
    margin: 0;
    width: 100%;
}
     
html.dark-theme {
    color:  var(--white);
    background-color: var(--main);
}  
html.dark-theme a{
    color:  var(--white);
}  
html.dark-theme footer{
    color: var(--main);
    background-color:  var(--white);
}  

html{
    font-family: monospace;
    color:  var(--main);
    background-color: var(--white);
}

a{
    color: var(--main) ;
    text-decoration: none;
}
img{
    width: 100%;
}
header{
padding: 1em;
}
main{
    padding: 1em;
    margin: auto;
}
#content{max-width: 600px;}
.miniature img{
    max-width: 100px;
}
footer{
    font-size: xx-small;
    bottom: 0;
    position: fixed;
    width: 100vw;
    justify-items: center;
    backdrop-filter: blur(1px);
    padding: 1em;
}
/* @media (prefers-color-scheme: dark) {
    :root {
        color:  var(--white);
        background-color: var(--main);
    }
    a{
        color:var(--white)
    }
  }    */