:root {
    --main: #004282;
    --white: #ebebeb;
    
}
body{
    margin: 0;
    width: 100%;
}
html.dark-theme {
    color:  var(--white);
    background-color: var(--main);
    animation: all 1s cubic-bezier(0.69, 0.01, 0.24, 0.68);
}  
html.dark-theme a{
    color:  var(--white);
}  
html.dark-theme footer{
    color: var(--main);
    background-color:  var(--white);
}  

html{
    font-family: monospace;
    color:  var(--main);
    background-color: var(--white);
}

a{
    color: var(--main) ;
    text-decoration: none;
}
img{
    width: 100%;
}
header{
padding: 1em;
}
main{
    padding: 1em;
    margin: auto;
}
#content{max-width: 600px;}
.miniature img{
    max-width: 100px;
}
footer{
    font-size: 0.2em;
    bottom: 0;
    position: fixed;
    /* padding: 1em; */
    justify-self: anchor-center;
    background-color: var(--main);
    color: var(--white);
    width: 100vw;
    justify-items: center;
}
